header {
    background-color: var(--bs-brown);
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img {
    max-width: 5em;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
.search-bar {
    margin-left: auto;
}

@media (max-width: 500px) {
    .dropdown{
        display: block;
        position: static;
        padding-left: 10px;
    }

    .dropdown-content li a {
        display: block;
        padding: 8px 0;
    }

    
}